[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = git://github.com/tpope/vim-sensible.git
